<div class="flex flex-wrap w-full justify-center xd:justify-between gap-6 mt-4">
  <!-- Hydration Section -->
  <div class="flex flex-col items-center">
    <img src="/PRO.png" alt="Prime Hydration Bottles" class="w-70 sm:w-70 md:w-56 lg:w-100" />
    <a
       routerLink="/showproduct"
      class="rounded-lg mt-4 px-16 py-2 bg-black text-white font-bold uppercase tracking-wider hover:bg-gray-800 transition dark:bg-white dark:text-black dark:hover:bg-gray-300">
      ទិញទំនិញ
    </a>
  </div>

  <!-- Hydration+ Section -->
  <div class="flex flex-col items-center">
    <img src="/Zero.png" alt="Prime Hydration+ Sticks" class="w-70 sm:w-70 md:w-56 lg:w-100" />
    <a
       routerLink="/showproduct"
      class="rounded-lg mt-4 px-16 py-2 bg-black text-white font-bold uppercase tracking-wider hover:bg-gray-800 transition dark:bg-white dark:text-black dark:hover:bg-gray-300">
      ទិញទំនិញ
    </a>
  </div>

  <!-- Hydration Ice Section -->
  <div class="flex flex-col items-center">
    <img src="/ice.png" alt="Prime Hydration Ice" class="w-70 sm:w-70 md:w-56 lg:w-100" />
    <a
       routerLink="/showproduct"
      class="rounded-lg mt-4 px-16 py-2 bg-black text-white font-bold uppercase tracking-wider hover:bg-gray-800 transition dark:bg-white dark:text-black dark:hover:bg-gray-300">
      ទិញទំនិញ
    </a>
  </div>
</div>

