<body class="h-screen overflow-hidden flex flex-col">
  <nav class="bg-white 2xl:pl-35 2xl:pr-35 w-full border-gray-200 dark:bg-gray-900 shadow-md z-40">
    <div class="w-full flex flex-wrap items-center justify-between mx-auto pl-4 pr-4 pt-2">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img [src]='logo' class="h-8" alt="" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Star Store</span>
      </a>

      <div class="flex justify-center items-center md:order-2">
        <!-- login logout (mobile pc) -->
        <div class="">
          <app-profile></app-profile>
        </div>
        <!-- mobile menu toggle button -->
        <button (click)="toggleNavbar()" type="button"
          class="inline-flex items-center ml-2 p-2 w-9 h-9 bg-gray-200/50 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" fill="none" stroke="#000000" viewBox="0 0 17 14">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>

        <!-- search (desktop only) -->

        
        
          
      </div>
      

      <!-- Menu Links -->
      <div
        [ngClass]="{ 'hidden': !isNavbarOpen, 'block': isNavbarOpen, 'md:flex': true }" class="items-center justify-between w-full md:w-auto md:order-1 max-sm:absolute max-sm:top-10 max-sm:right-0 max-sm:z-40 max-md:absolute max-md:top-10 max-md:right-0 max-md:z-40" id="navbar-menu">
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <li>
            <a (click)="phbar()" routerLink="home" [routerLinkActive]="['text-blue-500']" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">ទំព័រដើម</a>
          </li>
          <li>
            <a (click)="phbar()" routerLink="about" [routerLinkActive]="['text-blue-500']" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">អំពីយើង</a>
          </li>
          <li>
            <a (click)="phbar()" routerLink="favorit" [routerLinkActive]="['text-blue-500']" [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent">ចំណូលចិត្ត</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full mt-1 mb-1 p-[0.5px] bg-gradient-to-r from-white via-gray-500/70 to-white animate-gradient-color dark:bg-whiteSC-to-r dark:from-gray-900/100 dark:via-white dark:to-gray-900/100 dark:animate-whiteSC-color z-0"></div>
    
      <div class="flex justify-between items-center ml-4 mr-4">

        <nav class="flex" aria-label="Breadcrumb">
          <ol class="inline-flex items-center rtl:space-x-reverse">
            <li class="inline-flex items-center">
              <p class="inline-flex items-center text-sm font-medium text-gray-700 dark:text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#1C64F2" class="size-6 h-6 w-6 mr-1">
                  <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
                </svg>
                Product By
              </p>
            </li>
            <li>
              <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 h-3 w-3">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
                <p class=" text-sm font-medium text-gray-700 dark:text-gray-400 ">
                  <button class="text-gray-600 underline dark:text-gray-500 hover:no-underline" data-popover-target="popover-Poul">Paul</button>
                   and 
                   <button class="text-gray-600 underline dark:text-gray-500 hover:no-underline" data-popover-target="popover-KSI">KSI</button>
                  </p>

                <!-- popover Poul -->
                <div data-popover id="popover-Poul" role="tooltip" 
                     class="absolute z-10 invisible inline-block text-sm text-gray-700 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-md opacity-0 w-70 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-600">
                  <div class="flex flex-col p-2 space-y-4">

                    <!-- Image -->
                    <div class="w-full">
                      <img src="/poul.png" alt="Logan Paul" 
                           class="w-full h-auto rounded-xl border border-gray-300 dark:border-gray-600"/>
                    </div>
                  
                    <!-- Text -->
                    <div class="w-full">
                      <h3 class="font-semibold text-gray-900 dark:text-white">Logan Alexander Paul</h3>
                      <p class="mt-2 text-justify">
                        (កើតថ្ងៃទី 1 ខែមេសា ឆ្នាំ 1995) គឺជាអ្នកមានឥទ្ធិពលជនជាតិអាមេរិក មនុស្សប្រកួតមុជស្លាបយ៉ាងជ អាជីព អ្នកជំនួញ អ្នកប្រយុទ្ធ និងតារាអ្នកសម្ដែង។
                        គាត់មានអ្នកជាវលើប៉ុស្តិ៍ YouTube របស់គាត់ឈ្មោះ <strong>Logan Paul Vlogs</strong> ច្រើនជាង 23 លាននាក់ ហើយគាត់ក៏បានដាក់ឈ្មោះនៅក្នុងបញ្ជី 
                        Forbes សម្រាប់អ្នកបង្កើតមាតិកា YouTube ដែលទទួលប្រាក់ខែខ្ពស់បំផុតក្នុងឆ្នាំ 2017, 2018 និង 2021។
                      </p>
                    </div>
                  
                  </div>
                </div>


                <!-- popover KSI -->
                <div data-popover id="popover-KSI" role="tooltip" 
                     class="absolute z-10 invisible inline-block text-sm text-gray-700 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-md opacity-0 w-70 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-600">
                  <div class="flex flex-col p-2 space-y-4">

                    <!-- Image -->
                    <div class="w-full">
                      <img src="/ksi.png" alt="KSI" 
                           class="w-full h-auto rounded-xl border border-gray-300 dark:border-gray-600"/>
                    </div>
                  
                    <!-- Text -->
                    <div class="w-full">
                      <h3 class="font-semibold text-gray-900 dark:text-white">KSI</h3>
                      <p class="mt-2 text-justify">
                        (កើតថ្ងៃទី 19 ខែមិថុនា ឆ្នាំ 1993) មានឈ្មោះល្បីជាអាជីពថា KSI គឺជាអ្នកមានឥទ្ធិពលជនជាតិអង់គ្លេស មនុស្សប្រកួតបុកគ្រាប់អាជីព និងតន្រ្តីករ។ 
                        គាត់ជាសមាជិកបង្កើតរួមនៃក្រុម YouTube ដែលមានឈ្មោះថា the Sidemen, 
                        <strong>ជាអគ្គនាយក (CEO) នៃ Misfits Boxing</strong> និងជាម្ចាស់រួមនៃអាជីវកម្មជាច្រើន រួមមាន Prime Hydration និង Lunchly។
                      </p>
                    </div>
                  
                  </div>
                </div>
              </div>
            </li>
            
          </ol>
        </nav>

        <div class="relative mb-1">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            <span class="sr-only">Search icon</span>
          </div>
          <input type="text" class="block sm:w-70 w-35 p-1 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="ស្វែងរក...">
        </div>
      </div>
  </nav>



<!-- import -->
<main class="w-full flex-1 overflow-y-auto scrollbar-hide">
  <!-- <app-ads></app-ads>
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </div>
  <app-copyright></app-copyright> -->
  <router-outlet></router-outlet>

</main>
</body>
