
<div class="relative">
    <section class="bg-center bg-no-repeat rounded-2xl h-100 md:h-120 lg:h-150 flex w-auto items-center bg-[url('/slid.png')] bg-gray-500 bg-blend-multiply">
        <div class="px-4 mx-auto max-w-screen-xl text-center mt-4 py-24 lg:py-56">
            <p data-aos="fade-up" class="mb-2 text-2xl font-normal text-gray-300 lg:text-3xl sm:px-16 lg:px-48">The PRIME</p>
            <h1 data-aos="fade-up" class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-white md:text-3xl lg:text-3xl">រស់ជាតិថ្មី ORANGE KREAM HITS DIFFERENT</h1>
            
            <button data-aos="fade-up" routerLink="/showproduct" class=" mt-12 text-[16px] md:text-[16px] rounded-lg lg:text-[20px] pl-8 pr-8 md:pl-12 md:pr-12 pt-2 pb-2 bg-gray-100 hover:bg-gray-100/0 transition-colors duration-300 text-black hover:text-white border border-white ">ចូលហាងទំនិញ</button>
        </div>
    </section>
</div>