@keyframes slideUp{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.animation-slideup {
    animation: slideUp 0.8s ease-out forwards;
}