<section class="bg-center bg-no-repeat h-120 flex w-auto justify-center items-center bg-[url('/ceo.png')] bg-gray-700 bg-blend-multiply">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">The Company Prime Energy drink  </h1>
            <p class="mb-2 text-md font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">PRIME ត្រូវបានបង្កើតឡើងដើម្បីបំពេញចន្លោះដែលរសជាតិដ៏អស្ចារ្យត្រូវនឹងមុខងារ។ ជាមួយនឹងរសជាតិដិត បំបាត់ការស្រេកទឹក ដើម្បីជួយអ្នកឱ្យស្រស់ស្រាយ បំពេញបន្ថែម។</p>
            <p class="mb-8 text-lg font-extrabold text-gray-300 lg:text-xl sm:px-16 lg:px-48">យើងខ្ញុំ ជាអ្នកនាំចូលផ្ដាច់មុខភេសជ្ជៈ​ Prime នៅប្រទេសកម្ពុជា។</p>
        </div>
    </section>